<div class="alert alert-danger">
  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

<%= form_for @plant, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :common_name, class: 'col-md-2 control-label' %>
    <div class='col-md-6'>
      <%= f.text_field :common_name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :genus_species, class: 'col-md-2 control-label' %>
    <div class='col-md-6'>
      <%= f.text_field :genus_species, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit button, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
